/* Regular */
@font-face {
    font-family: 'LemonMilk';
    src:
        url('../../assets/fonts/LemonMilkRegular-X3XE2.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* Regular Italic */
@font-face {
    font-family: 'LemonMilk';
    src:
        url('../../assets/fonts/LemonMilkRegularItalic-L3AEy.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'LemonMilk';
    src:
        url('../../assets/fonts/LemonMilkBold-gx2B3.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'LemonMilk';
    src:
        url('../../assets/fonts/LemonMilkBoldItalic-PKZ3P.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'LemonMilk';
    src:
        url('../../assets/fonts/LemonMilkLight-owxMq.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

/* Light Italic */
@font-face {
    font-family: 'LemonMilk';
    src:
        url('../../assets/fonts/LemonMilkLightItalic-7BjPE.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: 'LemonMilk';
    src:
        url('../../assets/fonts/LemonMilkMedium-mLZYV.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* Medium Italic */
@font-face {
    font-family: 'LemonMilk';
    src:
        url('../../assets/fonts/LemonMilkMediumItalic-d95nl.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}


html {
    overflow-x: hidden;
}

body {
    font-family: 'LemonMilk', sans-serif;
    font-weight: 400;
}

.topbar-link {
    color: white;
}


